@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
*{
    margin: 0;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}
body{
    display: flex;
    justify-content: center;
    background-color: #36393f;
}
h1{
    margin-bottom: 1rem;
}
.container{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2f3136;
    padding: 1.5rem;
    border-radius: 15px;
    width: 40vw;
}
input{
    background-color: transparent;
    border: none;
}
input[type=file]::file-selector-button{
    height: 100%;
    border-radius: 0 10px 10px 0;
    color: #474c50;
    background-color: white;
    border:none;
    transition: all 0.5s ease;
}
input[type=file]::file-selector-button:hover{
    background-color: #36393f;
    color: white;
    transition: all 0.5s ease;
}
input:last-child{
    margin-bottom: 0;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    background-color: #202225;
    align-items: center;
}
.bx{
    border: 2px white solid;
    border-radius: 15px;
    padding: 0.7rem;
    transition: all 0.5s ease;
}
.bx:hover{
    background-color: white;
    color: #202225;
    transition: all 0.5s ease;
}
.nav-icon{
    font-size: 150%;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0.5rem 0;
    cursor: pointer;
}
.nav-icon .tooltip{
    font-size: 65%;
    position: absolute;
    left: calc(100% + 0.5rem);
    transform: translateY(75%);
    background-color: white;
    color: #202225;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 3;
    white-space: nowrap;
    pointer-events: none;
}
.nav-icon:hover .tooltip{
    opacity: 1;
    transition: all 0.5s ease;
}
.container input{
    font-size: 125%;
    background-color: #202225;
    height: 2.5rem;
    width: 100%;
 }
.container .form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.auth-form{
    width: 100%;
}
.auth-input{
    height: 2rem;
    border-radius: 8px;
}
.auth-label{
    padding-bottom: 0.5rem;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19.5px;
    height: 2.5rem;
    width: 50% !important;
    text-decoration: none;
    background-color: #202225;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn:hover{
    background-color: #36393f;
    transition: all 0.5s ease;
}
.form-item{
    width: 100%;
    display: flex;
    align-items: center;
}
.card-text{
    margin: 1rem;
}
.card-title{
    font-size: 130%;
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-shadow: 0 0 10px black;
}
.card{
    position: relative;
    border-radius: 15px;
    width: 12rem;
    height: 14rem;
    background-color: #b2b2b2;
    box-shadow: 0 0 20px black;
    margin: 2rem;
}
.card-header{
    border-radius: 15px 15px 8px 8px;
    background-color: black;
    height: 7rem;
}
.card-img{
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 7rem;
    opacity: 0.75;
}
.program_data{
    width: 100%;
}
.program_data h1{
    margin-bottom: 1.5rem;
}
.program_details{
    font-size: 125%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.program_details img{
    border: white solid 3px;
    border-radius: 15px;
    width: 15rem;
}
.program_details td{
    padding-bottom: 1rem;
}
.user-profile{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user-profile .user-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.user-profile .user-image img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    border: white 3px solid;
    margin-bottom: 1rem;
}
.user-data h1{
    text-align: center;
    margin-bottom: 1rem;
}
.invalid-feedback{
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
    color: #ea2d2d;
    font-size: 125%;
}
.pagenotfound{
    width: 100%;
    text-align: center;
}
.pagenotfound h1{
    text-align: center;
}
.radio-btn-group{

}
.radio-btn-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.radio-btn-group input[type = radio]{
    margin: 0 1rem;
    transform: translateY(-2px);
    width: 1rem;
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}